################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user

/bin
/obj
/.vs/BrightWire/v14
/packages
/UnitTests/bin/x64/Debug
/UnitTests/obj
/UnitTests/bin/x64/Release
/BrightWire.Net4/bin
/BrightWire.Net4/obj
/.vs/*
/UnitTests/bin
/UnitTests/LinearAlgebra
/BrightWire.CUDA.Net4.x64/bin
/BrightWire.CUDA.Net4.x64/obj
/BrightWire.CUDA.Net4.x86/bin
/BrightWire.CUDA.Net4.x86/obj
