################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user

/.vs
/bin
/obj
/packages
/TestResults

/BrightWire/bin
/BrightWire/obj
/Documentation/bin
/Documentation/obj
/BrightTable/bin
/BrightTable/obj
/BrightData/bin
/BrightData/obj
/BrightData.UnitTests/bin
/BrightData.UnitTests/obj
/BrightData.Numerics/obj
/BrightData.Numerics/bin
/BrightTable.UnitTests/bin
/BrightTable.UnitTests/obj
/BrightData.Cuda/bin
/BrightData.Cuda/obj
/ExampleCode/bin
/ExampleCode/obj
/BrightWire.UnitTests/bin
/BrightWire.UnitTests/obj
/BrightWire.CUDA.Net4.x64/bin
/BrightWire.CUDA.Net4.x64/obj
/BrightWire.CUDA.Standard/bin
/BrightWire.CUDA.Standard/obj
/BrightWire.Net4/bin
/BrightWire.Net4/obj
/BrightWire.Standard/bin
/BrightWire.Standard/obj
/Core.SampleCode/obj
/SampleCode/bin
/SampleCode/obj
/SampleProjects/CoreTest/bin
/SampleProjects/CoreTest/obj
/UnitTests/bin
/UnitTests/obj
/Data/bin
/Data/obj
/BrightData.MKL/bin
/BrightData.MKL/obj
/BrightData2/bin
/BrightData2/obj
/BrightData.Cuda2/bin
/BrightData.Cuda2/obj
/BrightData.OpenBlas/bin
/BrightData.OpenBlas/obj
/BrightAPI/obj
/BrightAPI/bin
/BrightAPI/UI/.parcel-cache
/BrightAPI/UI/dist
/BrightAPI/UI/node_modules
