@import './ColumnInfo.scss';

.data-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    max-width: 100%;
    
    .header {
        flex-shrink: 0;
        background-color: #fff;
        .#{$ns}-form-group {
            margin: 0 0 0 1em;
        }
        .info {
            margin: 0 0.5em;
        }
    }
    .splitter {
        flex-grow: 1;
        >.lhs {
            background-color: $light-gray5;
            padding:0.25em;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            padding-bottom: $padding;
        }
    }
    .histogram-container {
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .column-info { 
        .body {
            flex-direction: row;
        }
    }
}