@import '../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

.data-table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    max-width: 100%;
    
    .header {
        flex-shrink: 0;
        background-color: #fff;
    }
    .body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .lhs {
            $padding:0.5em;
            $borderRadius: 5px;

            background-color: $light-gray5;
            padding:0.25em;
            overflow: auto;
            flex-basis: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            padding-bottom: $padding;
            .column-info {
                background-color: #fff;
                margin-top:$padding;
                max-width: 24em;
                border-radius: $borderRadius;
                box-shadow: $pt-elevation-shadow-3;
                .header {
                    display: flex;
                    align-items: center;
                    align-content: stretch;
                    border-radius: $borderRadius 0 0 0;
                    margin-right: $padding*1.5;
                    >span {
                        display: inline-block;
                    }
                    .name {
                        margin-left: $padding;
                        flex-grow: 1;
                    }
                    .type {
                        font-weight: bold;
                        border-radius: $borderRadius 0 $borderRadius 0;
                        background-color: #8ABBFF;
                        padding:$padding;
                        &.Float {
                            background-color: #62D96B;
                        }
                        &.Int {
                            background-color: #29A634;
                        }
                    }
                }
                .body {
                    padding:$padding*2 $padding*2 $padding $padding*2;
                    display: flex;
                    flex-wrap: wrap;    
                    >table {
                        
                    }
                }
                table.property-list {
                    margin: 0 auto;
                    th, td {
                        padding:0.4rem;
                    }
                }
            }
        }
        .rhs {
            background-color: #fff;
            flex-shrink: 0;
            flex-basis: 50%;
        }
    }
    .histogram-container {
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .data-table { 
        .body {
            flex-direction: row;
        }
    }
}