.panel-container {
    display: flex;
    flex-direction: column;
    height:100%;
    >header {
        flex-shrink: 0;
        background-color: #333;
        display: flex;
        flex-wrap: wrap;
        >a {
            box-shadow: none !important;
            margin:1px 2px 0 2px;
            background-color: #aaa !important;
            &.selected {
                background-color: #fff !important;
            }
        }
    }
    >.contents {
        flex-grow: 1;
        display: flex;
        position: relative;
        >main {
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom: 0;
            overflow:hidden;
            display: flex;
        }
    }
}