.splitter {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .lhs {
        flex-shrink: 0;
        flex-basis: 50%;
    }
    .divider {
        background-color: #666;
        flex-basis: 7px;
        flex-shrink: 0;
        cursor: row-resize;
        &.dragging {
            background-color: #999;
        }
    }
    .rhs {
        flex-shrink: 0;
        flex-basis: 50%;
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .splitter {
        flex-direction: row;
        .divider {
            cursor: col-resize;
        }
    }
}